<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magoole, recherche {{search}} (page {{page}})</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
<nav id="search_nav" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="../static/assets/logo_small_icon_only_inverted_blue.png" alt="Magoole Search Motor"
                 id="logo-searcher">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <form action="/search" method="get">
        <div class="field has-addons has-shadow-field">
            <div class="control has-icons-left is-expanded">
                <input type="text" id="mainSearch" name="q" placeholder="{{search}}" class="input">
                <span class="icon is-small is-left">
                    <svg style="transform: scale(0.5)" class="svg-inline--fa fa-search fa-w-16"
                         aria-hidden="true" data-prefix="fa" data-icon="search" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                         data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                        </path>
                    </svg>
                </span>
            </div>
            <div class="control">
                <button id="button-search" type="button" class="button is-primary">
                    <span class="has-text-weight-semibold"><i class="fas fa-arrow-right"></i></span>
                </button>
            </div>
        </div>
    </form>
</nav>
<hr>
<div class="results">
    {% for result in results %}
    <div class="result">
        <p class="url has-text-grey-light">{{result.url}}</p>
        <h3 class="title"><a href="{url()}?redirect={{result.url}}" target="_blank">{{result.title}}</a></h3>
        <p class="content">{{result.description}}</p>
    </div>
    {% endfor %}
</div>
</body>
</html>